<% layout('partials/boilerplate') %>
<h1>Edit Data</h1>

<div class="row">
  <div class="col-4 offset-4">
    <form action="/volumes/<%=foundVolume._id%>?_method=PUT" method="post" class="validated-form" novalidate>
      <label class="form-label" for="zone">Zone</label>
      <input
        class="form-control"
        type="number"
        name="zone"
        id="zone"
        min="<%= foundVolume.zone %>"
        max="<%= foundVolume.zone %>"
        value="<%= foundVolume.zone %>"
        required
      />
      
        <label class="form-label" for="tank">Tank: </label>
      <select class="form-select" name="tank" id="tank" required>
        
          <option value="<%=foundVolume.tank%>"><%=foundVolume.tank%></option>
        
      </select>
      
      <label class="form-label" for="totalV">Total Volume</label>
      <input
        class="form-control"
        type="number"
        id="totalV"
        name="totalV"
        step="0.01"
        min="0"
        max="17000"
        value="<%= foundVolume.totalV %>"
        required
      />
      
      <label class="form-label" for="waterV">Water Volume</label>
      <input
        class="form-control"
        type="number"
        id="waterV"
        name="waterV"
        step="0.01"
        min="0"
        max="17000"
        value="<%= foundVolume.waterV %>"
        required
      />
      
      <label class="form-label" for="productV">Product Volume</label>
      <input
        class="form-control"
        type="number"
        id="productV"
        name="productV"
        step="0.01"
        min="0"
        max="17000"
        value="<%= foundVolume.productV %>"
        required
      />

      <button class="btn btn-success mt-2">Submit</button>
    </form>

    <form
      class="d-inline"
      action="/volumes/<%=foundVolume._id%>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-danger d-inline mt-3">DELETE</button>
    </form>
  </div>
  <a href="/volumes/<%= foundVolume.zone %>/view">Back</a>
</div>
